@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --midnight-purple: #280137;
    --midnight-blue:#191970;
    --color: #e1cfe8;
    --light-purple: #925ea6;
    --purple: #7a4190;
    --background: rgba(40, 1, 55, 0.7);
}

.body {
    font-family: 'Poppins', sans-serif;
    color: var(--color);
}
